# discord
BOT_TOKEN="YOUR_BOT_TOKEN"
TEST_GUILD_ID="TEST_GUILD_ID"

# database
DATABASE_HOST="database" # name of the docker-compose service hosting the database
DATABASE_PORT=3306
DATABASE_NAME="tscord_bot"
DATABASE_USER="tscord"
DATABASE_PASSWORD="tscord123"

# api
API_PORT=3000

# external services
IMGUR_CLIENT_ID="YOUR_IMGUR_CLIENT_ID"