{
    "jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": true
		},
		"target": "es2021",
		"baseUrl": "./",
		"paths": {
			"@decorators": 			["src/utils/decorators"],
			"@decorators/*": 		["plugins/*/utils/decorators"],

			"@errors": 				["src/utils/errors"],
			"@errors/*": 			["plugins/*/utils/errors"],

			"@entities": 			["src/entities"],
			"@entities/*": 			["plugins/*/entities"],

			"@guards": 				["src/guards"],
			"@guards/*": 			["plugins/*/guards"],
			
			"@services": 			["src/services"],
			"@services/*": 			["plugins/*/services"],

			"@i18n": 				["src/i18n"],
			"@i18n/*": 				["plugins/*/i18n"],

			"@config": 				["src/config"],
			"@config/*": 			["plugins/*/config"],

			"@utils/classes": 		["src/utils/classes"],
			"@utils/classes/*": 	["plugins/*/utils/classes"],

			"@utils/functions":		["src/utils/functions"],
			"@utils/functions/*":	["plugins/*/utils/functions"],

			"@api/controllers": 	["src/api/controllers"],
			"@api/controllers/*": 	["plugins/*/api/controllers"],

			"@api/middlewares": 	["src/api/middlewares"],
			"@api/middlewares/*": 	["plugins/*/api/middlewares"],

			"@api/server": 			["src/api/server.ts"]
		},
		"transform": {
			"decoratorMetadata": true
		}
    },
    "module": {
        "type": "commonjs"
    }
}