{
    "jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": true
		},
		"target": "es2021",
		"baseUrl": "./",
		"paths": {

			"@decorators": ["src/utils/decorators"],
			"@decorators/*": ["src/plugins/*/utils/decorators"],

			"@errors": ["src/utils/errors"],
			"@errors/*": ["src/plugins/*/utils/errors"],

			"@entities": ["src/entities"],
			"@entities/*": ["src/plugins/*/entities"],

			"@guards": ["src/guards"],
			"@guards/*": ["src/plugins/*/guards"],
			
			"@services": ["src/services"],
			"@services/*": ["src/plugins/*/services"],

			"@i18n": ["src/i18n"],
			"@i18n/*": ["src/plugins/*/i18n"],

			"@configs": ["src/configs"],
			"@configs/*": ["src/plugins/*/configs"],

			"@utils/classes": ["src/utils/classes"],
			"@utils/classes/*": ["src/plugins/*/utils/classes"],

			"@utils/functions": ["src/utils/functions"],
			"@utils/functions/*": ["src/plugins/*/utils/functions"],

			"@api/controllers": ["src/api/controllers"],
			"@api/controllers/*": ["src/plugins/*/api/controllers"],

			"@api/middlewares": ["src/api/middlewares"],
			"@api/middlewares/*": ["src/plugins/*/api/middlewares"],

			"@api/server": ["src/api/server.ts"]
		},
		"transform": {
			"decoratorMetadata": true
		}
    },
	"exclude": ["node_modules", ".git"],
    "module": {
        "type": "commonjs"
    }
}